* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

html,header,body,footer{
  background-color: white;
  
  height: 100%;
  font-size: 100%;
  font-family:  Arial, Helvetica, sans-serif;
  line-height: 1.4;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


a:link{
  color: black;
}

a:hover{
  color: rgb(15, 190, 103);
}

a:visited{
  color:black;
}