@import 'variables';
@import 'mixins';

// Base
@import 'base/fonts';
@import 'base/base';

// Components
@import 'components/header';
@import 'components/footer';

// Pages
@import 'pages/index';

main{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    .categorie_index{
        flex-basis: 30%;
       align-self: center;
    }
}

.intro{
    margin:5% 25% 5% 10%;
}