.topnav{
    display: flex;
    background-color: rgb(15, 190, 103);
    height:10%;
    a {
        height:100%;
       padding: 2em;
        display: inline block;
        color:white;
       text-transform: uppercase;
       font-weight: bold;
        text-decoration: none;
        
        
      }
      a:hover {
        background: rgba(93, 95, 94, 0.5);
        color: white;
      }
      a:visited {
        
        color: white;
      }

}


.intro{
    
    height: auto;
    margin-top: 2%;;
   
    width: 80%;
    
 
    vertical-align: middle;
    font-size: 16px;
    line-height: 2em;
    
    text-align: justify;
   
   
    
   
    a:hover{
      color: rgb(15, 190, 103);
    }
    
    
 
}

